body{
	margin-right: 0px !important;
}
#header{
	position:relative;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 52px;
	line-height: 52px;
	padding: 0;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	background-color: #3871B8;
	color: #fff;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}
#header .btn-home-ico,#header .btn-back-ico{
	position: absolute;
	left: 0px;
	top: 0px;
	font-size: 1.2em;
	padding: 15px 1px;
}
#header .btn-add-ico{
	position: absolute;
    right: 7px;
    top: 0px;
    font-size: 16px;
    padding: 1px;
}
#wrapper{
	position:absolute; 
	z-index:1;
	top:53px; 
	bottom:0px; 
	left:0;
	width:100%;
	background:#fff;
	overflow:auto;
}
#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}
.table_form{
	top:10%;
	margin: 30px auto;
	border:1px solid #EEEEF3;
	text-align: left;
	table-layout: fixed;
}
.table{
	width:90%;
}
tr{
	width:90%;
	height:50px;
}
.drop,.tit,.myEditor{
	width:90%;
	margin-left:9px !important;
	height: 33px;
    border: 1px solid #EEEEF3;
    border-radius: 8px;
    -webkit-border-radius:8px;
	-moz-border-radius:8px;
	outline:none;
}
.myEditor {
    width: 90% !important;
    /*height: auto;*/
    margin-left: 5% !important;
    margin-top: 13px !important;
    margin-bottom: 13px !important;
    overflow-y: hidden;
    height:200px;
}
/*时间*/
.time,.etime{
	width: 100%;
	float: left;
}
.stime,.endtime{
	margin-left: 14px;
	float: left;
}
.isnotice{
	margin-left: 14px;
	float: left;
}
.notice{
	margin-top: 10px;
}
.ntime{
	width: 100%;
}
.noticetime{
	    float: left;
    width: 30%;
    margin-left: 14px;
}
#noticetime{
	width:50%;
}
.accpeople{
	margin-left: 14px;
	float: left;
	width: 30%;
}
.datetimepick-input {
	border: 0px;
	float: right;
}
.modSend{
	border: 0px;
	width:60%;
	height:20px;
	margin-left: 35%;
}
.input-m{
	display: block;
	width: 100%;
	height: 40px;
	padding: 6px 8px;
	font-size: 14px;
	line-height: 1.42857;
	color: #999999;
	vertical-align: middle;
	background-color: #fff;
	background-image: none;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.search1{
    float: left;
    top: 4px;
}
/*bootstrap复选*/
.has-switch {
    float: right;
    display: inline-block;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    position: relative;
    text-align: left;
    overflow: hidden;
    line-height: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    min-width: 74px;
    height: 28px;
    margin-left: 5px;
    /* margin-top: 6px; */
}

#wrapper .remind_lable{
	line-height: 40px;
	color: #999999;
}
#wrapper .remind-form-group,#wrapper .remind-form-group .list-group{
	margin-bottom: 0px;
}
#wrapper .remind-form-group .list-group-item{
	border-bottom-right-radius:0px;
	border-bottom-left-radius:0px;
	border-bottom: 0px;
}
#wrapper .remind-form-group .controls{
	float: right;
}
#wrapper .remind_time{
	border-top-right-radius:0px;
	border-top-left-radius:0px;
}
#wrapper .remind_time .btn-add{
	margin-bottom: 60px;
}

.btn-block {
    display: block;
    width: 90% !important;
    padding-right: 0;
    margin-left: 5%;
}
/*人员选择器*/
#userDataModal{
  z-index: 100000;
}
#userDataModal .modal-header {
    position: relative;
    /*z-index: 0;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 52px;
    line-height: 52px;
    padding: 0;
    font-size: 18px;
    text-align: center;
    background-color: #3871B8;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}
.glyphiconRight {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 1.2em;
    padding: 15px;
}
#userDataModal .modal-header .search {
    padding: 6px 0px;
    background: #eee;
    /*margin: 0px;*/
    position: relative;
    /*top: -1px;*/
}
.search input {
    height: 34px;
    border-radius: 20px;
    text-align: center;
}
.userDataWrapper{
    position: absolute;
    z-index: 2;
    top: 97px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: #fff;
    overflow: hidden;
}
.userDataScroller{
    position: absolute;
    z-index: 2;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}
.userDataWrapper .modal-body {
    margin-bottom: 0px;
    padding: 0px;
}
.userDataGroup {
    margin-bottom: 0px;
}
.close {
    float: right;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}
/*img{
	width: 20%;
	height: 60px;
}*/
#userDataModal .modal-dialog .modal-content {
    border-radius: 0px;
    border: none;
}

#userDataModal .modal-content {
    border-radius: 0px;
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-dialog {
    z-index: 1050;
    width: auto;
    padding: 0px; 
    margin-right: auto;
    margin-left: auto;
}
.userDataGroup .list-group-item {
    border-radius: 0px;
    padding: 6px 10px;
}
.pull-left {
    float: left !important;
}
.tools .ipt-hide {
    position: absolute;
    width: 0;
    height: 0;
    border: none;
    margin: 12px 0px 0px 2px;
}
input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
.checkbox {
    width: 16px;
    height: 16px;
    padding: 10px;
    display: block;
    float: none;
    border: 1px solid #DBDBDB;
    background: #F5F7F9;
    cursor: pointer;
    position: absolute;
    top: 6px;
    left: 10px;
    /* background: #eee url(../../../../../../resources/images/m/ico/input-unchecked.png) center no-repeat; */
    border-radius: 20px;
}
.userDataGroup .list-group-item .name-box {
    position: relative;
    margin: 0px 40px 0px 32px;
    display: block;
    height: 40px;
}
.userDataGroup .list-group-item .face {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
}
.userDataGroup .list-group-item .name-box .truename {
    overflow: hidden;
    position: absolute;
    top: 15px;
    left: 50px;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    margin: -6px 0 3px;
}
.userDataGroup .list-group-item .job {
    position: relative;
    right: 5px;
    top: -30px;
    float: right;
}
.struct{
	position: absolute;
    top: 10px;
}
.userDataGroup .list-group-item .struct-ico-left {
    font-size: 1.6em;
    position: absolute;
    top: 12px;
    color: #59BB92;
}
.userDataGroup .list-group-item .struct-ico-right {
    font-size: 1.6em;
    position: absolute;
    top: 12px;
    right: 10px;
    color: #59BB92;
}
.userDataGroup .list-group-item .userTotal {
    position: absolute;
    right: 30px;
    top: 18px;
    color: #363636;
    font-size: 14px;
}
.userWrapper {
    position: relative;
    z-index: 2;
    height: 54px;
    width: 80%;
    background: #fafafa;
    overflow: hidden;
    -ms-touch-action: none;
}
.userScroller .modal-body {
    padding: 0;
}
.userScroller {
    position: absolute;
    z-index: 2;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 2400px;
    height: 54px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}
.userScroller ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}
.userScroller li {
    width: 54px;
    height: 54px;
    float: left;
    line-height: 54px;
    background-color: #fafafa;
    font-size: 14px;
    overflow: hidden;
    text-align: center;
    border: none;
}
#userDataModal .opts {
    float: right;
    margin: 16px 12px 11px 11px;
    background-color: #3871B8;
}
.userGroup .face {
    width: 40px;
    height: 40px;
}
#userDataModal .opts-box {
    position: fixed;
    z-index: 1;
    height: 54px;
    width: 100%;
    background-color: #fafafa;
}
.glyphiconLeft {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 1.2em;
    padding: 15px;
}
.tools .cur {
    border: none;
    width: 16px;
    height: 16px;
    padding: 10px;
    border: #3498DB solid 1px;
    left: 10px;
    top: 3px;
    color: #fff;
    background: #3498DB url(../../../../../../resources/images/m/ico/input-checked.png) center no-repeat;
}
