<script language="JavaScript">
    Ext.ns("CNOA.assets.assets.secondment");
    CNOA.assets.assets.secondment.parentID = "docs-CNOA_MENU_ASSETS_SECONDMENT";

    Ext.onReady(function() {
        loadScripts("sm_assets_assets", "cnoa/app/assets/scripts/cnoa.assets.js", function(){
            CNOA_assets_assets_secondment = new CNOA_assets_assets_secondmentClass();
            Ext.getCmp(CNOA.assets.assets.secondment.parentID).add(CNOA_assets_assets_secondment.mainPanel);
            Ext.getCmp(CNOA.assets.assets.secondment.parentID).doLayout();
        });
    });
</script>