body,h1, h2, h3, h4, h5,p,ul,li{
    font-family:"NotoSans CJK","Microsoft YaHei","Proxima Nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
}

ul {
    text-decoration: none; 
    list-style-type: none;
}

a,a:hover,a:link,a:visited {
    list-style-type: none;
    text-decoration: none; 
}

/*header styles*/
#header {
    position: fixed;
    width: 100%;
    height: 52px;
    text-align: center;
    line-height: 52px;
    background-color: #4A78BB;
    color: #FFFFFF;
    z-index: 1;
    top: 0;
    left: 0;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}

/*header styles end*/

/*search styles*/
#search_news {
    position: absolute;
    top: 52px;
    width: 100%;
    padding-top: 8px;
    margin: 0px;
    background: #EFEEF3;
}

#search_news .col-xs-12 {
    padding: 0px 10px;
}

#search_news .form-group {
    margin-bottom: 8px;
}

#search {
    height: 36px;
    border-radius: 18px;
    text-align: center;
}

#btnBack {
    left: 0px;
    position: fixed;
    top: 0px;
    width: 52px;
    height: 52px;
    line-height: 52px;
}

/*search styles end*/

/*wrapper && scroller  styles*/
#wrapper{
    position:absolute; 
    z-index:1;
    top:103px; 
    bottom:0px; 
    left:0;
    width:100%;
    background:#fff;
    overflow: hidden;
}

#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

#scroller .stop-label {
  background: #fafafa;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #eee;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: #888;
  display: none;
}
/*wrapper && scroller styles end*/

/*bbs_content styles start*/

.bbs_content {
    width: 100%;
    border-top: 1px solid #ccc;
}

#scroller .bbs_content:first-of-type {
    border-top: none;
}

/*bbs_content styles end*/

/**
 * 下拉样式 Pull down styles
 */
#pullDown, #pullUp {
    background:#fafafa;
    height:50px;
    line-height:50px;
    font-weight:bold;
    font-size:14px;
    color:#888;
    border-top: #eee solid 1px;
}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
    display:block; float:left;
    width:40px; height:40px;
    margin-left:30%;
    background:url(../../../../../../resources/images/m/ico/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size:40px 80px; background-size:40px 80px;
    -webkit-transition-property:-webkit-transform;
    -webkit-transition-duration:250ms;  
}
#pullDown .pullDownIcon {
    -webkit-transform:rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
    -webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
    -webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
    -webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
    background-position:0 100%;
    -webkit-transform:rotate(0deg) translateZ(0);
    -webkit-transition-duration:0ms;

    -webkit-animation-name:loading;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
    from { -webkit-transform:rotate(0deg) translateZ(0); }
    to { -webkit-transform:rotate(360deg) translateZ(0); }
}

/**
 * 下拉样式 Pull down styles end
 */


 /*post_info styles start*/
.post_info {
    width: 90%;
    height: 90px;
    position: relative;
    border-bottom: 1px solid #B8C6D0;
    margin-bottom: 10px;
}

.post_info .post_face {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 15px;
    left: 5px;
}

.post_info .post_face img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
} 

.post_info .post_title {
    position: absolute;
    color: #221814;
    top: 35px;
    left: 80px;
    max-width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}

.post_info .post_time {
    position: absolute;
    top: 60px;
    right: 0px;
    color: #3E3A39;
}

 /*post_info styles end*/

