body,h1, h2, h3, h4, h5,p,ul,li{
    font-family:"NotoSans CJK","Microsoft YaHei","Proxima Nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
}

ul {
    text-decoration: none; 
    list-style-type: none;
}

a,a:hover,a:link,a:visited {
    list-style-type: none;
    text-decoration: none; 
}

/*header styles*/
#header {
    position: fixed;
    width: 100%;
    height: 52px;
    text-align: center;
    line-height: 52px;
    background-color: #4A78BB;
    color: #FFFFFF;
    z-index: 1;
    top: 0;
    left: 0;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}

#btnBack {
    left: 0px;
    position: fixed;
    top: 0px;
    width: 52px;
    height: 52px;
    line-height: 52px;
}

/*wrapper styles*/
#wrapper {
    position:absolute; 
    z-index:1;
    top: 70px;
    bottom:0px; 
    left:0;
    width:100%;
    background:#fff;
    overflow-x: hidden;
    overflow-y:auto;
}

#scroller {
    position:relative;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    float:left;
    width:100%;
    padding:0;
}

#scroller .stop-label {
  background: #fafafa;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #eee;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: #888;
  display: none;
}

/*post_title styles*/
.post_title {
    width: 100%;
    width: 100%;
    padding: 0px 20px;
    height: 35px;
    line-height: 35px;
}

.post_title .post_label {
    float: left;
    width: 10%;
    height: 35px;
    line-height: 35px;
}

/*post_type styles*/
.post_type {
    width: 100%;
    padding: 0px 20px;
    height: 35px;
    margin-top: 10px;
}

.post_type .type,
.post_title .post_label {
    float: left;
    height: 35px;
    line-height: 35px;
    color: red;
    width: 15%;
}

.post_type .select,
.post_title .post_t {
    float: left;
    height: 35px;
    line-height: 35px;
    width: 85%;
}

/*msg styles*/
.post_msg {
    width: 100%;
    height: 130px;
    margin-top: 20px;
}

.post_msg .post_content {
    width: 90%;
    height: 130px;
}

/*post_opt styles*/
.post_opt {
    width: 100%;
    height: 52px;
    margin-top: 10px;
}

.post_opt .post_attach {
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 20px;
    border-radius: 10%;
    border: 1px solid #DCDCDD;
}

.post_opt .post_attach .post_add_attach {
    top: 14px;
    left: 15px;
    color: #DCDCDD;
    font-size: 20px;
    z-index: 0;
}

#fileupload {
    width: 50px;
    height: 50px;
    opacity: 0;
    z-index: 50;
    position: absolute;
}

.post_opt .post_opt_c {
    float: right;
    margin-right: 20px;
    color: #C9C9CA;
    position: relative;
    width: 100px;
}

.post_opt .post_opt_c .post_c_nums {
    font-size: 12px;
}

.post_opt .post_opt_c .post_c_nums label {
    font-weight: normal;
}

.post_opt .post_opt_c .post_emotion {
    text-align: right;
    padding: 5px;
    color: #888888;
    background: url(../../../../../../resources/images/m/qqface/icon.gif) no-repeat 40px 10px;
}
.post_opt .post_opt_c .post_emotion:hover {
    background-position: 40px -20px;
}

/*facebox styles*/
#facebox {
    top: 55px !important;
    left: -197px !important;
    background-color: #FFF;
}

/*address styles*/
.address {
    height: 40px;
    line-height: 40px;
    padding-left: 50px;
    background: url(../../../../../../resources/images/m/bbs/address.png) no-repeat;
    background-position-y: 10px; 
    background-position-x: 25px; 
    background-size: 14px;
    width: 90%;
    color: #888889;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
}

/*new_post_to styles*/
.new_post_to {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 20px;
}

.new_post_to button {
   width: 90%;
   background-color: #4B83C4;
}

/*mapPage*/
#mapPage {
    position: relative;
    z-index: 1100;
    display: none;
}

/*jingle_popup*/
#jingle_popup {
    display: none;
    background-color: #eef3f3;
    color: #222;
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 98;
    min-height: 50px;
    bottom: 0px;
}

#jingle_popup .btn {
    width: 100%;
    padding: 10px 12px;
    margin-top: 8px;
}

.actionsheet {
    display: -webkit-box;
    display: box;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    padding: 20px;
}

#jingle_popup_mask {
    display: none;
    position: absolute;
    z-index: 90;
    left: 0;
    right: 0;
    top: 0;
    background-color: #222;
    bottom: 0;
    opacity: 0.3;
}

/*attach form*/
.formInfoTitle {
    text-align: center;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 5px 0px;
    margin-bottom: 10px;
}

#attachGroup {
    margin-top: 10px;
}

#attachGroup .formInfoTitle {
    margin-bottom: 0px;
}
.panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-attach-box > .panel-heading {
    border-bottom: none;
    padding: 8px 15px;
}

.panel-attach .btn {
    margin: 4px 6px 0px 0px;
}