body,h1, h2, h3, h4, h5,p,ul,li{
	font-family:"NotoSans CJK","Microsoft YaHei","Proxima Nova","Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 0;
	margin: 0;
	border: 0;
}
#header {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 52px;
    line-height: 52px;
    padding: 0;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    background-color: #3871B8;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}
#header .btn-home-ico, #header .btn-back-ico {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 1.2em;
    padding: 15px;
}
#header .btn-add-ico{
	position: absolute;
	right: 15px;
	top: 10px;
	border: 1px solid #11598c;
	background-color: #11598c;
	background-image: -webkit-linear-gradient(top,#1985d0,#1468a2 3%,#0e4b75);
}
a:hover,a:link,a:visited,a:active{
	color:#fff;
	text-decoration:none;
}
#wrapper{
	position:absolute; 
	z-index:1;
	top:143px; 
	bottom:0px; 
	left:0;
	width:100%;
	background:#fff;
	overflow:auto;
}
#scroller {
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
}

/**
 *任务列表
**/
#f_control{
  position: absolute;
  top: 52px;
  z-index: 2;
  width: 100%;
  height: 56px;
  padding: 8px 0px;
  margin: 0px;
  background: #eee;
}
.input-m{
	height: 40px;
}
.btn-m {
  height: 40px;
}
#noticeList{
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
  width: 100%;
  margin-bottom: 0px;
}
#noticeList .panel {
  margin-bottom: -2px;
  border-radius: 0px;
}
#noticeList .panel-heading {
  font-weight: 300;
  padding: 0px;
  text-align: -webkit-match-parent;
  border-top: #eee solid 1px;
  border-radius: 0px;
}
#noticeList .panel-heading .title {
  display: block;
  /*height: 56px;*/
  height: 90px;
  position: relative;
}
#noticeList .icon, #noticeList .enter, #noticeList .prev, #noticeList .next {
  color: #1f8ed6;
  display: block;
  height: 90px;
  line-height: 90px;
}
#noticeList .icon, #noticeList .enter {
  position: absolute;
}
#noticeList .icon{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 29px auto;
  left: 0;
  margin-left: 11px;
  top: 0;
  width: 30px;
}
#noticeList .ico-doc, #noticeList .ico-docx {
  background-image: url(../../../../../../resources/images/m/ico/t016e391eea347f0065.png);
}
#noticeList .panel-heading .name-box {
  height: 90px;
}
#noticeList .name-box {
  display: block;
  height: 50px;
}
#noticeList .name-box {
  margin: 0 50px;
  position: relative;
}
#noticeList .panel-heading .name-box .title {
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
  margin-left: 10%;
  left: 0px;
  top: 8px;
}

#noticeList .info {
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
  margin-left: 10%;
  left:0;
  top: 32px;
  color: #9F9FA0;
  font-size:13px;
}
#noticeList .info span:nth-of-type(2) {
  margin-left: 8px;
}

#noticeList .info2 {
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
  margin-left: 10%;
  left:0;
  top: 55px;
  height: 20px;
  color: #3E3A39;
  font-size:13px;
}
#noticeList .info2 span:nth-of-type(2) {
  margin-left: 8px;
}

#noticeList .enter {
  background-size: 25px auto;
  right: 0;
  top: 0;
  width: 50px;
  color: #d2d2d2;
  -webkit-tap-highlight-color: transparent;
}
#noticeList .glyphicon {
  padding: 0px 10px 0px 10px;
  font-size: 22px;
  color: #d2d2d2;;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 10000;
}
#noticeList .panel-body {
  padding: 9px 0px;
  display: none;
  text-align: center;
  background: #e5ebf1;
}
#noticeList .panel-body .btn {
  padding: 6px 10px;
  margin: 4px 4px;
}
#noticeList .count {
  height: 50px;
  line-height: 50px;
  color: #888;
  text-align: center;
  border-bottom: #eee solid 1px;
}
#scroller .stop-label {
  background: #fafafa;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #eee;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: #888;
  display: none;
}

.sweet-alert .datepick-control {
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 6px 12px;
  height: 40px;
  background: #fff;
}
.sweet-alert .date-span{
	color: #999999;
	font-size:14px;
	line-height: 27px;
}
.sweet-alert .datetimepick-input{
	border: 0px;
	float: right;
	height: 35px;
	width: 160px;
	margin-top: -5px;
	padding: 0px;
	color: #999999;
	border-color: #fff;
	background: #fff;
	display: block;
	box-shadow: none;
}
.sweet-alert .etime{
	margin-bottom: 2px;
}

/**
 *底部菜单
**/

#jingle_popup .btn{
	width: 100%;
	padding: 10px 12px;
	margin-top: 8px;
}
#jingle_popup {
	background-color: #eef3f3;
	color: #222;
	-webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.6);
}
#jingle_popup {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 98;
	min-height: 50px;
}
#jingle_popup_mask {
	display: none;
	position: absolute;
	z-index: 90;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
}
#jingle_popup_mask {
	background-color: #222;
}
#jingle_popup{
	bottom:0px;
	left:0px;
	right:0px;
	display:none;
}
#jingle_popup_mask{
	opacity:0.3;
	display:none;
}
.actionsheet {
	display: -webkit-box;
	display: box;
	-webkit-box-orient: vertical;
	box-orient: vertical;
	padding: 20px;
}
.actionsheet > button {
	-webkit-box-flex: 1;
	box-flex: 1;
	margin-top: 8px;
	display: block;
	width: 100%;
}


/**
 * 下拉样式 Pull down styles
 */
#pullDown, #pullUp {
	background:#fafafa;
	height:50px;
	line-height:50px;
	font-weight:bold;
	font-size:14px;
	color:#888;
	border-top: #eee solid 1px;
}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
	display:block; float:left;
	width:40px; height:40px;
	margin-left:30%;
	background:url(../../../../../../resources/images/m/ico/pull-icon@2x.png) 0 0 no-repeat;
	-webkit-background-size:40px 80px; background-size:40px 80px;
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:250ms;	
}
#pullDown .pullDownIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
	-webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
	-webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
	background-position:0 100%;
	-webkit-transform:rotate(0deg) translateZ(0);
	-webkit-transition-duration:0ms;

	-webkit-animation-name:loading;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
	from { -webkit-transform:rotate(0deg) translateZ(0); }
	to { -webkit-transform:rotate(360deg) translateZ(0); }
}

#f_control .col-xs-12 {
    padding: 0px 10px;
}

.search {
    height: 36px;
    border-radius: 18px;
}

#f_control .form-group {
    margin-bottom: 8px;
}

.nav-tabs {
    background: #EFEEF3;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #4978BC;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom-color: #EFEEF3;
}

#myTabs > li {
    width: 50%;
    text-align: center;
}

.nav-tabs li a {
    color: #4978BC;
    border: 0px;
    border-radius: 0px;
    padding: 10px;
    background-color: #DCDCDD;
    margin-right: 0px;
}

#guide {
	position: absolute;
    top: 8px;
    color: #717071;
}

#noticeList .info .username {
  width: 120px;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#noticeList .info .posttime {
  width: 100px;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}