body,h1, h2, h3, h4, h5,p,ul,li{
    font-family:"NotoSans CJK","Microsoft YaHei","Proxima Nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
}

ul {
    text-decoration: none; 
    list-style-type: none;
}

a,a:hover,a:link,a:visited {
    list-style-type: none;
    text-decoration: none; 
}

/*header styles*/
#header {
	position: fixed;
	width: 100%;
	height: 52px;
	text-align: center;
	line-height: 52px;
	background-color: #4A78BB;
	color: #FFFFFF;
	z-index: 1;
    top: 0;
    left: 0;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}

#add {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 53px;
    height: 52px;
    background-color: #4A78BB;
    border: none; 
}

#btnBack {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 1.2em;
    padding: 15px;
}

/*taskTBox styles*/
#taskTBox {
    position:absolute; 
    z-index:1;
    top:52px;; 
    bottom:0px; 
    left:0;
    width:100%;
    background:#fff;
    overflow:auto;
}

.postTitle {
    width: 100%;
    height: 65px;
    background-color: #EFEEF3;
    padding: 5px;
}

.taskT {
    width: 25%;
    float: left;
    height: 25px;
    line-height: 25px;
    font-size: 15px;
    text-align: center;
}

.taskTitle {
    width: 70%;
    height: 25px;
    line-height: 25px;
    font-size: 15px;
    float: left;
    text-align: left;
    padding: 0px 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.author {
    float: left;
    width: 100%;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
}

/*wrapper styles*/
#wrapper {
    position: absolute;
    z-index:1;
    top:112px;; 
    bottom:0px; 
    left:0;
    width:100%;
    background:#fff;
    overflow:auto;
}


/*jconfirm styles*/
.jconfirm .jconfirm-box div.content {
    text-align: center;
    padding: 30px 15px 30px;
}


/**
 * 下拉样式 Pull down styles
 */
#pullDown, #pullUp {
    background:#fafafa;
    height:50px;
    line-height:50px;
    font-weight:bold;
    font-size:14px;
    color:#888;
    border-top: #eee solid 1px;
}
#pullDown .pullDownIcon, #pullUp .pullUpIcon  {
    display:block; float:left;
    width:40px; height:40px;
    margin-left:30%;
    background:url(../../../../../../resources/images/m/ico/pull-icon@2x.png) 0 0 no-repeat;
    -webkit-background-size:40px 80px; background-size:40px 80px;
    -webkit-transition-property:-webkit-transform;
    -webkit-transition-duration:250ms;  
}
#pullDown .pullDownIcon {
    -webkit-transform:rotate(0deg) translateZ(0);
}
#pullUp .pullUpIcon  {
    -webkit-transform:rotate(-180deg) translateZ(0);
}

#pullDown.flip .pullDownIcon {
    -webkit-transform:rotate(-180deg) translateZ(0);
}

#pullUp.flip .pullUpIcon {
    -webkit-transform:rotate(0deg) translateZ(0);
}

#pullDown.loading .pullDownIcon, #pullUp.loading .pullUpIcon {
    background-position:0 100%;
    -webkit-transform:rotate(0deg) translateZ(0);
    -webkit-transition-duration:0ms;

    -webkit-animation-name:loading;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
}

@-webkit-keyframes loading {
    from { -webkit-transform:rotate(0deg) translateZ(0); }
    to { -webkit-transform:rotate(360deg) translateZ(0); }
}

/*pullup styles*/
#scroller {
    position:relative;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    float:left;
    width:100%;
    padding:0;
}

#scroller .stop-label {
  background: #fafafa;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #eee;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  color: #888;
  display: none;
}

/*con_box styles*/
#con_box .panel {
    margin-bottom: -2px;
    border-radius: 0px;
}

#con_box .panel-heading {
    font-weight: 300;
    padding: 0px;
    text-align: -webkit-match-parent;
    border-top: #eee solid 1px;
    border-radius: 0px;
}

#con_box .panel-heading .title {
    display: block;
    /*height: 74px;*/
    position: relative;
}

.face {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 10px;
    left: 30px;
}

.truename {
    position: absolute;
    top: 50px;
    left: 4px;
    width: 80px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
}

#con_box .panel-heading .name-box {
    margin: 0px 90px;
}

#con_box .name-box {
    display: block;
}

#con_box .name-box {
    margin: 0 50px;
    position: relative;
}

#con_box .status {
    position: absolute;
    right: 10px;
    top: 30px;
    z-index: 10000;
    padding: 0px 3px;
}

#con_box .panel-heading .name-box .flowName {
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    position: absolute;
    top: 28px;
    left: 0;
}

#con_box .panel-heading .name-box .name {
    white-space: normal;
    width: 100%;
    padding-top: 10px;
    display: block;
    min-height: 50px;
    word-break: break-all;
}

#con_box .info {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    color: #a8a8a8;
    font-size: 0.9em;
}

#con_box .info span:nth-of-type(2) {
    margin-left: 8px;
}